@import url("https://fonts.googleapis.com/css?family=Acme&display=swap");

.uppercase {
  text-transform: uppercase;
}
/* --------------------------------------------copied/inspired =>modified from Resume Project */

/*-------------------------------------------- styling the contact form*/
.container-fluid {
  background-color: #fff;
  color: black;
  width: 70%;
}

body {
  background-color: #fff;
}
.contact-heading {
  font-family: "Acme", sans-serif;
  font-weight: 100;
  margin-top: 50px;
  margin-bottom: 50px;
}

/*-------------------------------------------- styling the sending botton*/

.btn {
  color: red;
  margin-top: 30px;
  background-color: #292c2f;
}
.text-center {
  text-align: justify;
  text-justify: inter-word;
}

/* -------------------------------------- styling google map  */

#map-google {
  width: 70%;
  height: 350px;

  border: solid 1px black;
  margin-left: 15%;
}
