/*-------------------------------------------- google font*/

@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');



/*-------------------------------------------- styling the big box*/

article {
  width: 70%;
  border: 1px solid black;
  background-color: #292c2f;
  padding: 15px;
  margin: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 22px
}


/*-------------------------------------------- styling the paragraph*/

p {
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  color: #fff;
  
}

/*-------------------------------------------- styling the header of paragraph*/
h3 {
    
    margin-bottom: 20px;
    color: red;
}

/*-------------------------------------------- responsive in a smaller device*/
@media all and (max-width: 768px) {

.legal-box{
		width:80%;
        margin: auto;
    
        
	}

}

.foot-center p {
    
   
    color:#fff;
}
