





.data-priv  {
  transition: all .4s ease-in-out;
  vertical-align: top;
  height: 500px;
  margin-left: 180px;
  margin-top: 50px;
  /* width: 600px;
  height: 600px; */
  
  
}
.data-priv:hover {
  transform: scale(1.5);
 
}
