@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');


section {
  margin-top: 25px;
  
}

article {
  width: 70%;
  border: 1px solid black;
  background-color: #292c2f;
  padding: 15px;
  margin: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 22px
}

p {
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  color: #fff;
  
}
h3 {
    color:#fff;
    margin-bottom: 20px;
    color: red;
}


@media all and (max-width: 767px) {

.legal-box{
		width:90%;
        margin: auto;
	}

}
